{% extends "master.phtml" %}

{% block body %}
<div class="row">
    <h2>1. Schritt: Port Typ Auswählen</h2>
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" method="post" action="/addPort/portSetUP">
            <div class="form-group row">
                <label for="portType" class="col-sm-2 control-label">Porttyp</label>
                <div class="col-sm-10">
                    <select class="form-control" id="portType" name="portType">
                        {% for portType in portTypes %}
                        <option>{{ portType }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}