<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered edit-table">
            <thead>
                <tr>
                    <td><strong>Anschluss</strong></td>
                    <td><strong>Port Name</strong></td>
                    <td><strong>aktueller Wert</strong></td>
                    <td><strong>Optionen</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A1</td>
                    <td>TestPort</td>
                    <td class="port-error"><strong>17</strong> <span class="glyphicon glyphicon-ok pull-right"></span></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary">Verlauf <span class="glyphicon glyphicon-signal"></span></a>
                            <a class="btn btn-warning">Trigger <span class="glyphicon glyphicon-link"></span></a>
                            <a class="btn btn-danger">Einstellungen <span class="glyphicon glyphicon-cog"></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>A2</td>
                    <td>TestPort2</td>
                    <td class="port-ok"><strong>18</strong> <span class="glyphicon glyphicon-remove pull-right"></span></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary">Verlauf <span class="glyphicon glyphicon-signal"></span></a>
                            <a class="btn btn-warning">Trigger <span class="glyphicon glyphicon-link"></span></a>
                            <a class="btn btn-danger">Einstellungen <span class="glyphicon glyphicon-cog"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>