<div class="form-group {% if warnText != "" %} has-error {% endif %}">
<label for="{{name}}">{{displayTitle|e}}{% if settings['required'] %}*{% endif %}</label>
<input name="{{name}}" type="number" class="form-control" id="{{name}}" length="{{settings['length']}}"
       min="{{settings['min']}}"
       max="{{settings['max']}}"
       step="{{settings['resolution']}}" aria-describedby="helpBlock-{{name}}" value="{{value}}" {% if
       settings['required'] %} required {% endif %}>
{% if warnText != "" %}
<span id="helpBlock-{{name}}" class="help-block">{{warnText|e}}</span>
{% elif helptext != "" %}
<span id="helpBlock-{{name}}" class="help-block">{{settings['description']|e}}</span>
{% endif %}
</div>