{% extends "UI/layouts/template.html" %}
{% block head %}

{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Port Übersicht</h1>
        <table class="table table-bordered edit-table">
            <thead>
            <tr>
                <td><strong>Anschluss</strong></td>
                <td><strong>Port Name</strong></td>
                <td><strong>aktueller Wert (alle 5sek.)</strong></td>
                <td><strong>Optionen</strong></td>
            </tr>
            </thead>
            <tbody>
            {% for portName, portStatus in ports.items() %}
            <tr>
                <td>{{ portStatus["port"] }}</td>
                <td>{{ portName }}</td>
                <td class="success"><strong id="current-Value-of-{{ portStatus["name"] }}">{{ portStatus["state"] }}</strong></td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" href="/viewGraph/{{ portStatus["port"] }}">Verlauf <span class="glyphicon glyphicon-signal"></span></a>
                        <a class="btn btn-success" href="/editTriggers/{{ portStatus["port"] }}">Trigger <span class="glyphicon glyphicon-bell"></span></a>
                        <a class="btn btn-danger" href="/editConf/{{ portStatus["port"] }}">Einstellungen <span class="glyphicon glyphicon-cog"></span></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <canvas id="portChart"></canvas>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="CDN/updateStatus.js"></script>
{% endblock %}