{% extends "master.phtml" %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Trigger bearbeiten
                <small>Port: {{ port.getName()|e }}</small>
            </h2>
            <form method="post" action="/editTrigger/saveTrigger">
                <input type="hidden" name="triggerID" value="{{ trigger.getID()|e }}">
                <input type="hidden" name="portID" value="{{ port.getID()|e }}">
                <div class="form-group">
                    <div class="well well-sm">Mit * gekennzeichnete Felder müssen ausgefüllt werden.</div>
                </div>
                <div class="form-group">
                    <lable for="lowerBoundInput">Untere Grenze*</lable>
                    <input type="number" id="lowerBoundInput" name="lowerBound" class="form-control"
                           min="{{ port.getValueRange()[0]|e }}" max="{{ port.getValueRange()[1]|e }}"
                           step="{{ port.getValueRange()[2]|e }}"
                    value="{{ trigger.getMinimalValue()|e }}">
                </div>
                <div class="form-group">
                    <lable for="upperBoundInput">Obere Grenze*</lable>
                    <input type="number" id="upperBoundInput" name="upperBound" class="form-control"
                           min="{{ port.getValueRange()[0]|e }}" max="{{ port.getValueRange()[1]|e }}"
                           step="{{ port.getValueRange()[2]|e }}"
                    value="{{ trigger.getMaximalValue()|e }}">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="warntrigger" {% if trigger.isWarnTrigger() == True %} checked{% endif %}> Warntrigger
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-save"></span>
                        Speichern
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}